{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="ita-main">

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

     <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

    <p class="ita-p">Taramosalata........................................................................................................................................................................................................£4.5</p>

</div>


{% endblock %}