{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="manu-main">
    <a class="a-king" href="/menu/italian/">
        <div class="block-a">

            <p class="p-king">
            ITALIAN FOOD
            </p>

    </div>
    </a>

    <a class="a-king" href="/menu/chinese/">
        <div class="block-b">

            <p class="p-king">
            FAST FOOD
            </p>

    </div>
    </a>

    <a class="a-king" href="/menu/fastfood/"><div class="block-c">

            <p class="p-king">
            CHINESE FOOD
            </p>

    </div></a>
</div>

{% endblock %}

